/* -- GENERAL -- */

body
{
background-color: rgb(161, 161, 161);


}




/* -- ACCUEIL -- */


#GROUP_blocs_vtc
{
display: flex;
justify-content: space-evenly;
margin-top: 6%;
}


.bloc_vtc_accueil
{
    border: 2px solid black;
    height: 500px;
    width: 30%;

}

.bloc_vtc_accueil:hover
{
    background-color: black;

}

/* -- MOTION -- */


.CATEGORIE
{
    height: 250px;
    border: 2px solid black;
    margin: 2%;
}

.CATEGORIE:hover
{
    background-color: black;

}